/.phpunit.cache
.phpunit.result.cache
.php-cs-fixer.cache
.phpactor.json
_ide_helper.php
.phpstorm.meta.php

/node_modules
/vendor
composer.phar

/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/debugbar
/coverage

.env
.env.backup
.env.production
.env.*
!.env.example
/auth.json
credentials.json
id_rsa
id_rsa.pub
*.pem
*.p12
*.pfx
*.key

*.log
*.cache
*.sql
*.dump
/database/*.sqlite
/database/*.sqlite-journal

/docs

.DS_Store
Thumbs.db
*~
*.swp
*.orig
*.bak
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
pnpm-debug.log

/.fleet
/.idea
/.nova
/.vscode
/.zed
/.cursor
